<a href="https://colab.research.google.com/github/sashwinbwaj/LendingClub_EDA/blob/main/LendingClub_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment at hand

LendingClub is one of America's leading destinations for online personal loans, usually an ideal method to borrow for a special need or credit card debt consolidation. It is well suited for people with responsible payment records and established financial histories.

LendingClub screens potential borrowers and services the loans once they’re approved. The risk: Investors – not LendingClub – make the final decision based on LendingClub grade, utilizing credit and income data. When a person applies online for a loan with LendingClub, there are two types of decisions taken:

1. Accepted: There are 3 further possible scenarios described below based on the final output of the approved loan:

    * Fully paid: Applicant has fully paid the loan (the principal and the interest rate)

    * Current: Applicant is in the process of paying the instalments, i.e. the tenure of the loan is not yet completed. 

    * Charged-off: Applicant has not paid the instalments in due time for a long period of time, i.e. he/she has defaulted on the loan

2. Rejected: Since the loan was rejected, there isn't a rich source of transactional, spending & behavioral patterns for these requests. 

Business Objectives:  
In a finance industry, one of the main applications of data is to minimize without losing out on possible revenue. In this optimization exercise, the idea is to predict the customer risk i.e whether he will completely repay the loan with interest. If he doesn't, it is a financial risk for the lending party. 

Objective is to identify the risky loan applicants at the time of loan application so that such loans can be reduced thereby cutting down the amount of credit loss. Identification of such applicants using EDA is the aim of this case study.

### Loading relevent libraries & data

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import matplotlib.style as style 

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
accepted_data = pd.read_csv('/content/drive/MyDrive/accepted_2007_to_2018Q4.csv', encoding = "ISO-8859-1")
print(f'\n Accepted data shape : {accepted_data.shape}')
accepted_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

 Accepted data shape : (2260701, 151)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
rejected_data = pd.read_csv('/content/drive/MyDrive/rejected_2007_to_2018Q4.csv', encoding = "ISO-8859-1")
rejected_data.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

### EDA Class Definition

In [4]:
class EDA:
  
  def __init__(self, data):
    self.data = data
  
  
  # Function to represent the hit rate of features in a dataset i.e missing values in a column  
  def missing_values(data):
    return round(100*data.isna().sum()/data.shape[0],2)
  
  
  # Function for categorical levels data 
  def catlevel_stats(data, thres):
    cat_columns = data.select_dtypes(include = ['object']).columns.to_list()
    for cols in cat_columns:
      if data[cols].nunique() < thres:
        print('The unique levels are \n')
        print(data[[cols]].value_counts())

#### 1.0 Cleaning Accepted Data

> There are more than 150 features in this data, but a lot of them have very low hit rates. So, we will remove those columns whose missing values are more than 90%.

> We will also check the data types to ensure that the variables are all in the correct format after cross-verifying with the data dictionary.

In [27]:
descriptions = pd.read_csv('LoanStats.csv', delimiter = ';', names = ['Colname', 'Description'])
meta_dict = pd.DataFrame(accepted_data.columns.to_list(), columns = ['Colname'])
for idx, cols in enumerate(meta_dict.Colname):
      if cols in descriptions.Colname.to_list():
        meta_dict.loc[idx, 'Found'] = True
        meta_dict.loc[idx, 'Description'] = descriptions[descriptions.Colname == cols]['Description'].values
        meta_dict.loc[idx, 'Missing_%'] = round(100*accepted_data[cols].isna().sum()/accepted_data.shape[0],2)
        meta_dict.loc[idx, 'Levels'] = accepted_data[cols].nunique()
        meta_dict.loc[idx, 'Datatype'] = accepted_data[cols].dtype
meta_dict

,Colname,Found,Description,Missing_%,Levels,Datatype
0,id,True,[A unique LC assigned ID for the loan listing. ],0.00,2260701.0,object
1,member_id,True,A unique LC assigned Id for the borrower member.,100.00,0.0,float64
2,loan_amnt,True,The listed amount of the loan applied for by t...,0.00,1572.0,float64
3,funded_amnt,True,The total amount committed to that loan at tha...,0.00,1572.0,float64
4,funded_amnt_inv,True,The total amount committed by investors for th...,0.00,10057.0,float64
5,term,True,The number of payments on the loan. Values are...,0.00,2.0,object
6,int_rate,True,Interest Rate on the loan,0.00,673.0,float64
7,installment,True,The monthly payment owed by the borrower if th...,0.00,93301.0,float64
8,grade,True,LC assigned loan grade,0.00,7.0,object
9,sub_grade,True,LC assigned loan subgrade,0.00,35.0,object
10,emp_title,True,The job title supplied by the Borrower when ap...,7.39,512694.0,object
11,emp_length,True,Employment length in years. Possible values ar...,6.50,11.0,object
12,home_ownership,True,The home ownership status provided by the borr...,0.00,6.0,object
13,annual_inc,True,The self-reported annual income provided by th...,0.00,89368.0,float64
14,verification_status,True,"Indicates if income was verified by LC, not ve...",0.00,3.0,object
15,issue_d,True,The month which the loan was funded,0.00,139.0,object
16,loan_status,True,Current status of the loan,0.00,9.0,object
17,pymnt_plan,True,Indicates if a payment plan has been put in pl...,0.00,2.0,object
18,url,True,URL for the LC page with listing data.,0.00,2260668.0,object
19,desc,True,Loan description provided by the borrower,94.42,124501.0,object
20,purpose,True,A category provided by the borrower for the lo...,0.00,14.0,object
21,title,True,The loan title provided by the borrower,1.03,63155.0,object
22,zip_code,True,The first 3 numbers of the zip code provided b...,0.00,956.0,object
23,addr_state,True,The state provided by the borrower in the loan...,0.00,51.0,object
24,dti,True,A ratio calculated using the borrower’s total ...,0.08,10845.0,float64
25,delinq_2yrs,True,The number of 30+ days past-due incidences of ...,0.00,37.0,float64
26,earliest_cr_line,True,The month the borrower's earliest reported cre...,0.00,754.0,object
27,fico_range_low,True,The lower boundary range the borrower’s FICO a...,0.00,48.0,float64
28,fico_range_high,True,The upper boundary range the borrower’s FICO a...,0.00,48.0,float64
29,inq_last_6mths,True,The number of inquiries in past 6 months (excl...,0.00,28.0,float64
30,mths_since_last_delinq,True,The number of months since the borrower's last...,51.25,173.0,float64
31,mths_since_last_record,True,The number of months since the last public rec...,84.11,129.0,float64
32,open_acc,True,The number of open credit lines in the borrowe...,0.00,91.0,float64
33,pub_rec,True,Number of derogatory public records,0.00,43.0,float64
34,revol_bal,True,Total credit revolving balance,0.00,102251.0,float64
35,revol_util,True,"Revolving line utilization rate, or the amount...",0.08,1430.0,float64
36,total_acc,True,The total number of credit lines currently in ...,0.00,152.0,float64
37,initial_list_status,True,The initial listing status of the loan. Possib...,0.00,2.0,object
38,out_prncp,True,Remaining outstanding principal for total amou...,0.00,356141.0,float64
39,out_prncp_inv,True,Remaining outstanding principal for portion of...,0.00,368481.0,float64
40,total_pymnt,True,Payments received to date for total amount fun...,0.00,1633864.0,float64
41,total_pymnt_inv,True,Payments received to date for portion of total...,0.00,1311099.0,float64
42,total_rec_prncp,True,Principal received to date,0.00,486463.0,float64
43,total_rec_int,True,Interest received to date,0.00,635921.0,float64
44,total_rec_late_fee,True,Late fees received to date,0.00,18375.0,float64
45,recoveries,True,post charge off gross recovery,0.00,132777.0,float64
46,collection_recovery_fee,True,post charge off collection fee,0.00,146222.0,float64
47,last_pymnt_d,True,Last month payment was received,0.11,136.0,object
48,last_pymnt_amnt,True,Last total payment amount received,0.00,704467.0,float64
49,next_pymnt_d,True,Next scheduled payment date,59.51,106.0,object
50,last_credit_pull_d,True,The most recent month LC pulled credit for thi...,0.00,141.0,object
51,last_fico_range_high,True,The upper boundary range the borrower’s last F...,0.00,72.0,float64
52,last_fico_range_low,True,The lower boundary range the borrower’s last F...,0.00,71.0,float64
53,collections_12_mths_ex_med,True,Number of collections in 12 months excluding m...,0.01,16.0,float64
54,mths_since_last_major_derog,True,Months since most recent 90-day or worse rating,74.31,183.0,float64
55,policy_code,True,publicly available policy_code=1,0.00,1.0,float64
56,application_type,True,Indicates whether the loan is an individual ap...,0.00,2.0,object
57,annual_inc_joint,True,The combined self-reported annual income provi...,94.66,17633.0,float64
58,dti_joint,True,A ratio calculated using the co-borrowers' tot...,94.66,4018.0,float64
59,verification_status_joint,NaN,NaN,NaN,NaN,NaN
60,acc_now_delinq,True,The number of accounts on which the borrower i...,0.00,9.0,float64
61,tot_coll_amt,True,Total collection amounts ever owed,3.11,15574.0,float64
62,tot_cur_bal,True,Total current balance of all accounts,3.11,487688.0,float64
63,open_acc_6m,True,Number of open trades in last 6 months,38.31,19.0,float64
64,open_act_il,True,Number of currently active installment trades,38.31,54.0,float64
65,open_il_12m,True,Number of installment accounts opened in past ...,38.31,19.0,float64
66,open_il_24m,True,Number of installment accounts opened in past ...,38.31,31.0,float64
67,mths_since_rcnt_il,True,Months since most recent installment accounts ...,40.25,405.0,float64
68,total_bal_il,True,Total current balance of all installment accou...,38.31,162249.0,float64
69,il_util,True,Ratio of total current balance to high credit/...,47.28,280.0,float64
70,open_rv_12m,True,Number of revolving trades opened in past 12 m...,38.31,29.0,float64
71,open_rv_24m,True,Number of revolving trades opened in past 24 m...,38.31,50.0,float64
72,max_bal_bc,True,Maximum current balance owed on all revolving ...,38.31,33726.0,float64
73,all_util,True,Balance to credit limit on all trades,38.32,188.0,float64
74,total_rev_hi_lim,NaN,NaN,NaN,NaN,NaN
75,inq_fi,True,Number of personal finance inquiries,38.31,33.0,float64
76,total_cu_tl,True,Number of finance trades,38.31,62.0,float64
77,inq_last_12m,True,Number of credit inquiries in past 12 months,38.31,48.0,float64
78,acc_open_past_24mths,True,Number of trades opened in past 24 months.,2.21,57.0,float64
79,avg_cur_bal,True,Average current balance of all accounts,3.11,88597.0,float64
80,bc_open_to_buy,True,Total open to buy on revolving bankcards.,3.32,91500.0,float64
81,bc_util,True,Ratio of total current balance to high credit/...,3.37,1494.0,float64
82,chargeoff_within_12_mths,True,Number of charge-offs within 12 months,0.01,11.0,float64
83,delinq_amnt,True,The past-due amount owed for the accounts on w...,0.00,2617.0,float64
84,mo_sin_old_il_acct,True,Months since oldest bank installment account o...,6.15,566.0,float64
85,mo_sin_old_rev_tl_op,True,Months since oldest revolving account opened,3.11,787.0,float64
86,mo_sin_rcnt_rev_tl_op,True,Months since most recent revolving account ope...,3.11,333.0,float64
87,mo_sin_rcnt_tl,True,Months since most recent account opened,3.11,232.0,float64
88,mort_acc,True,Number of mortgage accounts.,2.21,47.0,float64
89,mths_since_recent_bc,True,Months since most recent bankcard account open...,3.25,546.0,float64
90,mths_since_recent_bc_dlq,True,Months since most recent bankcard delinquency,77.01,177.0,float64
91,mths_since_recent_inq,True,Months since most recent inquiry.,13.07,26.0,float64
92,mths_since_recent_revol_delinq,True,Months since most recent revolving delinquency.,67.25,179.0,float64
93,num_accts_ever_120_pd,True,Number of accounts ever 120 or more days past ...,3.11,44.0,float64
94,num_actv_bc_tl,True,Number of currently active bankcard accounts,3.11,42.0,float64
95,num_actv_rev_tl,True,Number of currently active revolving trades,3.11,57.0,float64
96,num_bc_sats,True,Number of satisfactory bankcard accounts,2.59,60.0,float64
97,num_bc_tl,True,Number of bankcard accounts,3.11,76.0,float64
98,num_il_tl,True,Number of installment accounts,3.11,122.0,float64
99,num_op_rev_tl,True,Number of open revolving accounts,3.11,81.0,float64
100,num_rev_accts,True,Number of revolving accounts,3.11,117.0,float64
101,num_rev_tl_bal_gt_0,True,Number of revolving trades with balance >0,3.11,50.0,float64
102,num_sats,True,Number of satisfactory accounts,2.59,91.0,float64
103,num_tl_120dpd_2m,True,Number of accounts currently 120 days past due...,6.80,7.0,float64
104,num_tl_30dpd,True,Number of accounts currently 30 days past due ...,3.11,5.0,float64
105,num_tl_90g_dpd_24m,True,Number of accounts 90 or more days past due in...,3.11,34.0,float64
106,num_tl_op_past_12m,True,Number of accounts opened in past 12 months,3.11,33.0,float64
107,pct_tl_nvr_dlq,True,Percent of trades never delinquent,3.12,690.0,float64
108,percent_bc_gt_75,True,Percentage of all bankcard accounts > 75% of l...,3.34,284.0,float64
109,pub_rec_bankruptcies,True,Number of public record bankruptcies,0.06,12.0,float64
110,tax_liens,True,Number of tax liens,0.01,42.0,float64
111,tot_hi_cred_lim,True,Total high credit/credit limit,3.11,529972.0,float64
112,total_bal_ex_mort,True,Total credit balance excluding mortgage,2.21,212777.0,float64
113,total_bc_limit,True,Total bankcard high credit/credit limit,2.21,20309.0,float64
114,total_il_high_credit_limit,True,Total installment high credit/credit limit,3.11,194137.0,float64
115,revol_bal_joint,NaN,NaN,NaN,NaN,NaN
116,sec_app_fico_range_low,NaN,NaN,NaN,NaN,NaN
117,sec_app_fico_range_high,NaN,NaN,NaN,NaN,NaN
118,sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
119,sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
120,sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
121,sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
122,sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
123,sec_app_open_act_il,True,Number of currently active installment trades...,95.22,40.0,float64
124,sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
125,sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
126,sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
127,sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
128,hardship_flag,True,Flags whether or not the borrower is on a hard...,0.00,2.0,object
129,hardship_type,True,Describes the hardship plan offering,99.52,1.0,object
130,hardship_reason,True,Describes the reason the hardship plan was off...,99.52,9.0,object
131,hardship_status,True,"Describes if the hardship plan is active, pend...",99.52,3.0,object
132,deferral_term,True,Amount of months that the borrower is expected...,99.52,1.0,float64
133,hardship_amount,True,The interest payment that the borrower has com...,99.52,9162.0,float64
134,hardship_start_date,True,The start date of the hardship plan period,99.52,27.0,object
135,hardship_end_date,True,The end date of the hardship plan period,99.52,28.0,object
136,payment_plan_start_date,True,The day the first hardship plan payment is due...,99.52,27.0,object
137,hardship_length,True,The number of months the borrower will make sm...,99.52,1.0,float64
138,hardship_dpd,True,Account days past due as of the hardship plan ...,99.52,34.0,float64
139,hardship_loan_status,True,Loan Status as of the hardship plan start date,99.52,5.0,object
140,orig_projected_additional_accrued_interest,True,The original projected additional interest amo...,99.62,7487.0,float64
141,hardship_payoff_balance_amount,True,The payoff balance amount as of the hardship p...,99.52,10893.0,float64
142,hardship_last_payment_amount,True,The last payment amount as of the hardship pla...,99.52,9045.0,float64
143,disbursement_method,True,The method by which the borrower receives thei...,0.00,2.0,object
144,debt_settlement_flag,True,"Flags whether or not the borrower, who has cha...",0.00,2.0,object
145,debt_settlement_flag_date,True,The most recent date that the Debt_Settlement_...,98.49,83.0,object
146,settlement_status,True,The status of the borrower’s settlement plan. ...,98.49,3.0,object
147,settlement_date,True,The date that the borrower agrees to the settl...,98.49,90.0,object
148,settlement_amount,True,The loan amount that the borrower has agreed t...,98.49,21941.0,float64
149,settlement_percentage,True,The settlement amount as a percentage of the p...,98.49,2070.0,float64
150,settlement_term,True,The number of months that the borrower will be...,98.49,40.0,float64

In [6]:
# Removing columns with more than 90% missing values
missing_summary = EDA.missing_values(accepted_data)
columns_to_drop = missing_summary.loc[missing_summary > 90].index
columns_to_drop

Index(['member_id', 'desc', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [7]:
accepted_data = accepted_data.drop(columns_to_drop, axis = 1)
accepted_data.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,68407277,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,N,Cash,N
1,68355089,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,N,Cash,N
2,68341763,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,N,Cash,N
3,66310712,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,N,Cash,N
4,68476807,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,N,Cash,N

In [26]:
accepted_data[['sec_app_revol_util', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths']].head()

   sec_app_revol_util  sec_app_num_rev_accts  sec_app_chargeoff_within_12_mths
0                 NaN                    NaN                               NaN
1                 NaN                    NaN                               NaN
2                 NaN                    NaN                               NaN
3                 NaN                    NaN                               NaN
4                 NaN                    NaN                               NaN